/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 jul 2024, 3:25:43 p.m.
    Author     : Amy
*/

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(4,0,66);
    background: linear-gradient(25deg, rgba(4,0,66,1) 0%, rgba(120,38,136,1) 49%, rgba(24,129,205,1) 98%);
    overflow: hidden;
}
.form-wrapper {
    position: relative;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    top: 60px;
    left: 190px;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.logo-name {
    position: absolute;
    top: 73px;
    left: 235px;
    height: 40px;
    width: 40px;
    z-index: 1;
    font-weight: bold;
}

h2 {
    position: relative;
    width: 100%;
    left: 60px;
    top: 50px;
    color: #24201F;
}

.h3-mini {
    position: relative;
    margin-bottom: -10px;
    left: 60px;
    width: 100%;
    top: 50px;
    color: #433E3D;
}

.ui-float-label {
    position: relative;
    top: 55px;
    margin-top: 1.5em;
    width: 100%;
}
.ui-float-label input {
    padding: 0.5em 0.5em;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 75px;

}
.commandButtonWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.5em;

}
.divider-container {
    display: flex;
    align-items: center;
    margin: 0 1em;
    height: 100%;
}
.divider-container p\\:divider {
    margin: 0;
}

.login, .register {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    font-size: 18px;
    color: #666; 
}

.forgot-password-link {
    font-size: 15px;
    color: #3791C4; 
    text-decoration: none;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.register-content {
    position: relative;
    display: inline-block;
    width: 100%; 
}

.background-image {
    position: absolute;
    top: -271px;
    right: -50px;
    width: calc(90% - -135px);
    height: 601px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    z-index: 1; 
}

.overlay-panel {
    position: absolute;
    top: -235px;
    left: -13px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2; 
    padding: 20px;
    height: 550px;
    width: 450px;
    border-radius: 10px;
}